<html>

<body>
    <canvas id="myCanvas"></canvas>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    let canvas = document.getElementById('myCanvas');
    let context = canvas.getContext('2d');

    let data = { "RealFrom": -2, "RealTo": 1, "ImaginaryFrom": -1, "ImaginaryTo": 1, "Intervall": 0.01, "MaxIteration": 255 }
    let myArr;

    $(function() {
        // post request to the server
        $.ajax({
            type: "POST",
            url: "http://localhost:8080",
            data: JSON.stringify(data),
            contentType: "application/json",
            async: false,
            success: function(res) {
                console.log("success");
                myArr = res;
            }
        });

        // calculate rows and columns
        let row = Math.abs(data.RealTo / data.Intervall) + Math.abs(data.RealFrom / data.Intervall);
        let column = Math.abs(data.ImaginaryFrom / data.Intervall) + Math.abs(data.ImaginaryTo / data.Intervall);
        let counter = 0;

        // set right canvas width and height
        canvas.width = row;
        canvas.height = column;

        // loop through response, draw pixel
        for (let x = 0; x < row; x++) {
            for (let y = 0; y < column; y++) {
                var color = myArr[counter].toString(16);
                context.beginPath();
                context.rect(x, y, 1, 1);
                context.fillStyle = '#' + color + color + color;
                context.fill();
                counter++;
            }
        }
    });
    </script>
</body>

</html>